$brightOrange: hsl(31, 77%, 52%);
$darkCyan: hsl(184, 100%, 22%);
$veryDarkCyan: hsl(179, 100%, 13%);
$paragraph: hsla(0, 0%, 100%, 0.75);
$veryLightGray: hsl(0, 0%, 95%);
$fontSize: 15px;
$lexend: "Lexend Deca", sans-serif;
$bigShoulder: "Big Shoulders Display", cursive;
